@page
@model CrudRazor.Pages.Categories.CreateModel
<div>
    <h1>Add Category</h1>
    <form method="post" class="">
        <div class="mb-3">
            <label asp-for="Categyory.Name" class="form-label"></label>
            <input asp-for="Categyory.Name" class="form-control">
            <span asp-validation-for="Categyory.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <label asp-for="Categyory.DisplayOrder"></label>
            <input asp-for="Categyory.DisplayOrder" class="form-control">
            <span asp-validation-for="Categyory.DisplayOrder" class="text-danger"></span>

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}